.title {
  text-align: center;
  font-family: Quicksand;
  font-weight: 600;
  border-bottom: 2px solid #ccc;
  width: 285px;
  margin: auto auto 30px;
}

.card {}

.card__img {}

.card__title {}

.card__subtitle {}

.card__btn {}