.main {
  padding: 2em;
  text-align: center;
  background: #EFF2F5;
}

.title {
  font-weight: 600;
  border-bottom: 2px solid #ccc;
  width: 285px;
  margin: auto auto 30px;
}

.products {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

}

.card .img {
  width: 100000px !important;
}