.main {
  background-color: lightgray;
  height: 100vh;
  padding: 1px;
}

.card {
  background-color: #fff;
  margin: 4em auto;
  width: 80vw;
  text-align: center;
  display: grid;
  gap: 1em;
}

.card {}

.card input {
  outline: red !important;
}