.card {
  width: 80%;
  box-sizing: border-box;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: -.5em;
  align-items: flex-start;
  justify-content: flex-start;

}

.card * {
  margin: 10px;
}

.card p {
  font-size: 120%;
}

.card img {
  margin: 0;
  margin-bottom: 20px;
}

.card button:first-child {
  content: 'Order Now';
}