.card {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  padding: 2em;
}

.form input {
  display: block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  border-radius: 10px;
  border: none;
  height: 50px;
  transition: all .2s ease;
  font-style: italic;
  font-size: 16px;
  margin: 10px 0;
}

.btn {
  display: block;
  width: inherit;
}