.header {
  display: flex;
  justify-content: space-between;
  padding: .8em;
  border: 1px solid pink
}

.logo {
  width: 150px;
}


.nav__list {
  display: flex;
  list-style: none;

}

.list__item {
  margin-right: 1em;

}

.list__item a {
  text-decoration: none;
  font: inherit;
  color: black;
  font-weight: 600;
  font-size: 1.25rem;
  transition: all .3s ease-in-out;
}

.list__item a::after {}

.active {
  border-bottom: 1px solid red;
}